* {
    box-sizing: border-box;
  }

  header{
    margin:0 auto;
  }

  h2 {
    position:relative;
    font-family: var(--header-font-family);
    color: var(--darkest-color);
    font-weight: bold;
    font-size: 20px;
    text-align:center;
    margin:10px;

  }

  h3 {
    font-family: var(--body-font-family);
    color: var(--darkest-color);
    font-weight: bold;
    font-size: 18px;
    text-align:center;
    margin:5px;
  }

  h4 {
    font-family: var(--body-font-family);
    
    font-weight: bold;
    font-size: 16px;
    text-align:center;
    margin:2px;
  }

  h5 {
    font-family: var(--body-font-family);
    
    font-weight: bold;
    font-size: 16px;
    text-align:center;
    margin:2px;
  }

  body {
    font-family: var(--body-font-family);
    font-size:  14px;
    margin: 0 auto;
    padding:0;
    max-width: 750px;
  }

  select,
  input,
  textarea {
    width: 50%;
    margin: 0 auto;
    border-width: 2px;
    padding-left:5px;
    margin:8px;
    background-color: white;
}

nav {
  display:flex;
  flex-direction:column;
  height: 155px;
}

ul {
  display:flex;
  flex-direction: row;
  align-content: space-between;
  list-style-type: none;
  margin:0;
  padding:0;
}
      
li {
  margin: 4px;
  color: black;
  list-style-type:none;
}

div {
  padding: 4px;
}

button {
  padding: 4px;
  border: 1px solid gray;
  background-color: #C0C0C0;
  cursor: pointer;
  margin: 2px;
  border-radius: 4px;
  width: 80px;
  height: 40px;
}
  
.center {
  margin:0 auto;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.border {
  border: 1px solid;
  margin: 5px;
}

.full-width {
  width: 100%;
}

.medium-width {
  width: 90%;
  margin:0 auto;
  padding-bottom: 10px;
}

.left-padding {
  padding-left: 60px;
}

.small-width {
  width: 50%;
  margin: 0 auto;
}

.background-color-light-gray {
  background-color: #DCDCDC;
}

.background-color-med-gray {
  background-color: 	#C0C0C0;
}

.background-color-white {
  background-color: 	white;
}


.attitude {
  width: 50%;
  text-align: center;

}

.course-grades {
  width: 50%;
  text-align: center;
  margin:0 auto;

}
.box {
  border: 1px solid;
  width: 20%;
  margin:0 auto;
  margin:5px;
}

.content-sub-container {
    width: 75%;
    position:relative;
    margin:0 auto; 
    font-family:var( --body-font-family); 
    text-decoration:none; 
    display:inline-block;
    background-color:#C0C0C0;   

    }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }

  .far {
    font-size: 18px;
    margin: 6px;
  }




  .weeks-row {
    display:flex;
    flex-direction:column;
  }

 

.week-row {
  display:block;
  padding-left: 5px;
  padding-right: 5px;
  margin-top:10px;
  text-align:center;
  width: 47%;
}

  .skills-suggestion {
    color: black;
    font-weight: bold;
    width: 100%;
    position: relative;
    padding: 10px;
    margin: 8px auto;
    border: 1px solid;
  }

    
       